In [14]:
import pandas as pd

In [15]:
df = pd.read_csv('../data/members.csv')

In [16]:
df

,ID,First Name,Last Name,Email,Phone,Customer Type,Member Type
0,100,Carol,Shaw,cshaw0@mlb.com,(206)804-8771,Individual,1
1,101,Elizabeth,Carr,ecarr1@oracle.com,(512)187-2507,Individual,1
2,102,Ernest,Ramos,eramos2@plala.or.jp,(816)540-4257,Individual,1
3,103,Jane,Carter,jcarter3@harvard.edu,(214)839-0542,Individual,1
4,104,Martha,Cooper,mcooper4@go.com,(727)235-5696,Individual,1
...,...,...,...,...,...,...,...
295,395,Diana,Hicks,dhicks87@bloglovin.com,(513)289-6421,Individual,1
296,396,Thomas,Griffin,tgriffin88@smugmug.com,(801)631-7393,Business,1
297,397,Jonathan,Turner,jturner89@fc2.com,(310)968-4752,Individual,1
298,398,Jeremy,Robinson,jrobinson8a@gnu.org,(616)146-1693,Individual,1
299,399,David,Robertson,drobertson8b@istockphoto.com,(404)982-4393,Individual,1

In [17]:
df = pd.read_excel("../data/member_type.xlsx")

In [18]:
df

   Type No   Type Name  Price
0        1   Full Time     50
1        2    Day Time     25
2        3  Night Time     35
3        4     Weekday     40

In [19]:
df = pd.read_excel("../data/member_type2.xlsx", skiprows=2)

In [20]:
df

   Type No   Type Name
0        1   Full Time
1        2    Day Time
2        3  Night Time
3        4     Weekday

In [21]:
df = pd.read_csv("../data/会員種別.csv")

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x89 in position 0: invalid start byte

In [22]:
df = pd.read_csv("../data/会員種別.csv", encoding="Shift-JIS")

In [23]:
df

   会員種別     種別名
0     1   フルタイム
1     2   ディタイム
2     3  ナイトタイム
3     4    平日会員

In [24]:
df = pd.read_csv("../data/会員種別_拡張文字.csv", encoding="Shift-JIS")

UnicodeDecodeError: 'shift_jis' codec can't decode byte 0x87 in position 17: illegal multibyte sequence

In [25]:
df = pd.read_csv("../data/会員種別_拡張文字.csv", encoding="cp932")

In [26]:
df

  会員種別     種別名
0    ①   フルタイム
1    ②   ディタイム
2    ③  ナイトタイム
3    ④    平日会員

In [27]:
df = pd.read_csv("../data/会員種別_utf8.csv", encoding="UTF-8")

In [28]:
df

   会員種別     種別名
0     1   フルタイム
1     2   ディタイム
2     3  ナイトタイム
3     4    平日会員