In [1]:
import pandas as pd
df = pd.read_excel("../data/LogData_欠損値あり.xlsx")

In [2]:
df.isnull().sum()

LogID            0
MachineID        0
StartDateTime    0
EndDateTime      5
dtype: int64

In [3]:
df[df["EndDateTime"].isnull()]

     LogID  MachineID           StartDateTime EndDateTime
9    10010         17 2023-03-30 11:57:46.459         NaT
69   10070          6 2023-04-03 05:14:42.459         NaT
99   10100         14 2023-04-05 15:41:05.459         NaT
920  10921          5 2023-06-20 09:22:33.459         NaT
973  10974         11 2023-06-25 07:34:46.459         NaT

In [4]:
df[df["EndDateTime"].isna()]

     LogID  MachineID           StartDateTime EndDateTime
9    10010         17 2023-03-30 11:57:46.459         NaT
69   10070          6 2023-04-03 05:14:42.459         NaT
99   10100         14 2023-04-05 15:41:05.459         NaT
920  10921          5 2023-06-20 09:22:33.459         NaT
973  10974         11 2023-06-25 07:34:46.459         NaT

In [2]:
ser = df["EndDateTime"] - df["StartDateTime"]

In [6]:
ser

0     0 days 00:17:06
1     0 days 00:11:30
2     0 days 00:26:24
3     0 days 00:46:16
4     0 days 00:11:57
            ...
995   0 days 00:21:10
996   0 days 00:19:53
997   0 days 00:18:01
998   0 days 00:34:29
999   0 days 00:25:13
Length: 1000, dtype: timedelta64[ns]

In [7]:
ser.mean()

Timedelta('0 days 00:35:01.059296482')

In [8]:
df[df["EndDateTime"].isna()]

     LogID  MachineID           StartDateTime EndDateTime
9    10010         17 2023-03-30 11:57:46.459         NaT
69   10070          6 2023-04-03 05:14:42.459         NaT
99   10100         14 2023-04-05 15:41:05.459         NaT
920  10921          5 2023-06-20 09:22:33.459         NaT
973  10974         11 2023-06-25 07:34:46.459         NaT

In [3]:
df["EndDateTime"].fillna(df["StartDateTime"] + ser.mean(), inplace=True)

In [10]:
df[df["LogID"].isin([10010,10070,10100,10921,10974])]

     LogID  MachineID           StartDateTime                   EndDateTime
9    10010         17 2023-03-30 11:57:46.459 2023-03-30 12:32:47.518296482
69   10070          6 2023-04-03 05:14:42.459 2023-04-03 05:49:43.518296482
99   10100         14 2023-04-05 15:41:05.459 2023-04-05 16:16:06.518296482
920  10921          5 2023-06-20 09:22:33.459 2023-06-20 09:57:34.518296482
973  10974         11 2023-06-25 07:34:46.459 2023-06-25 08:09:47.518296482

In [19]:
df["StartDateTime"].dt.day_name()

0      Wednesday
1      Wednesday
2      Wednesday
3      Wednesday
4      Wednesday
         ...
995      Tuesday
996      Tuesday
997      Tuesday
998      Tuesday
999      Tuesday
Name: StartDateTime, Length: 1000, dtype: object

In [20]:
df["StartDateTime"].dt.strftime("%a")

0      Wed
1      Wed
2      Wed
3      Wed
4      Wed
      ...
995    Tue
996    Tue
997    Tue
998    Tue
999    Tue
Name: StartDateTime, Length: 1000, dtype: object

In [21]:
df["StartDateTime"].dt.weekday

0      2
1      2
2      2
3      2
4      2
      ..
995    1
996    1
997    1
998    1
999    1
Name: StartDateTime, Length: 1000, dtype: int64

In [22]:
df["StartDateTime"].dt.dayofweek

0      2
1      2
2      2
3      2
4      2
      ..
995    1
996    1
997    1
998    1
999    1
Name: StartDateTime, Length: 1000, dtype: int64

In [23]:
df["StartDateTime"].dt.year

0      2023
1      2023
2      2023
3      2023
4      2023
       ...
995    2023
996    2023
997    2023
998    2023
999    2023
Name: StartDateTime, Length: 1000, dtype: int64

In [24]:
df["StartDateTime"].dt.month

0      3
1      3
2      3
3      3
4      3
      ..
995    6
996    6
997    6
998    6
999    6
Name: StartDateTime, Length: 1000, dtype: int64

In [25]:
df["StartDateTime"].dt.day

0      29
1      29
2      29
3      29
4      29
       ..
995    27
996    27
997    27
998    27
999    27
Name: StartDateTime, Length: 1000, dtype: int64

In [26]:
df["StartDateTime"].dt.date

0      2023-03-29
1      2023-03-29
2      2023-03-29
3      2023-03-29
4      2023-03-29
          ...
995    2023-06-27
996    2023-06-27
997    2023-06-27
998    2023-06-27
999    2023-06-27
Name: StartDateTime, Length: 1000, dtype: object

In [27]:
df["StartDateTime"].dt.time

0      15:29:51.459000
1      15:33:58.459000
2      17:16:39.459000
3      21:19:55.459000
4      22:54:48.459000
            ...
995    06:59:58.459000
996    07:34:13.459000
997    08:32:58.459000
998    13:15:39.459000
999    13:40:04.459000
Name: StartDateTime, Length: 1000, dtype: object

In [28]:
df["StartDateTime"].dt.hour

0      15
1      15
2      17
3      21
4      22
       ..
995     6
996     7
997     8
998    13
999    13
Name: StartDateTime, Length: 1000, dtype: int64

In [29]:
df["StartDateTime"].dt.minute

0      29
1      33
2      16
3      19
4      54
       ..
995    59
996    34
997    32
998    15
999    40
Name: StartDateTime, Length: 1000, dtype: int64

In [30]:
df["StartDateTime"].dt.second

0      51
1      58
2      39
3      55
4      48
       ..
995    58
996    13
997    58
998    39
999     4
Name: StartDateTime, Length: 1000, dtype: int64