In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/members.csv")

In [3]:
df.query("ID >= 334")

,ID,First Name,Last Name,Email,Phone,Customer Type,Member Type
234,334,Lois,Warren,lwarren6i@intel.com,(205)922-6347,Individual,3
235,335,Wayne,Shaw,wshaw6j@cbsnews.com,(850)377-5441,Individual,3
236,336,Aaron,Robertson,arobertson6k@wunderground.com,(218)477-5056,Business,3
237,337,Harry,Watkins,hwatkins6l@oracle.com,(217)811-0247,Business,3
238,338,Michael,Johnston,mjohnston6m@prweb.com,(404)535-2335,Individual,2
...,...,...,...,...,...,...,...
295,395,Diana,Hicks,dhicks87@bloglovin.com,(513)289-6421,Individual,1
296,396,Thomas,Griffin,tgriffin88@smugmug.com,(801)631-7393,Business,1
297,397,Jonathan,Turner,jturner89@fc2.com,(310)968-4752,Individual,1
298,398,Jeremy,Robinson,jrobinson8a@gnu.org,(616)146-1693,Individual,1
299,399,David,Robertson,drobertson8b@istockphoto.com,(404)982-4393,Individual,1

In [4]:
df.query("ID >= 334 and ID <= 386")

,ID,First Name,Last Name,Email,Phone,Customer Type,Member Type
234,334,Lois,Warren,lwarren6i@intel.com,(205)922-6347,Individual,3
235,335,Wayne,Shaw,wshaw6j@cbsnews.com,(850)377-5441,Individual,3
236,336,Aaron,Robertson,arobertson6k@wunderground.com,(218)477-5056,Business,3
237,337,Harry,Watkins,hwatkins6l@oracle.com,(217)811-0247,Business,3
238,338,Michael,Johnston,mjohnston6m@prweb.com,(404)535-2335,Individual,2
239,339,Terry,Wood,twood6n@geocities.com,(210)847-1508,Individual,2
240,340,Daniel,Chapman,dchapman6o@163.com,(424)275-3503,Individual,2
241,341,Richard,Hart,rhart6p@qq.com,(603)699-0721,Individual,2
242,342,Patrick,Barnes,pbarnes6q@washingtonpost.com,(641)467-3797,Individual,2
243,343,Raymond,Brooks,rbrooks6r@desdev.cn,(810)307-5152,Individual,2
244,344,Peter,Anderson,panderson6s@ihg.com,(626)334-3126,Individual,2
245,345,Jessica,Grant,jgrant6t@psu.edu,(410)279-2385,Individual,2
246,346,Linda,Parker,lparker6u@hexun.com,(334)830-3103,Individual,2
247,347,Brandon,Elliott,belliott6v@yellowbook.com,(312)468-6917,Individual,2
248,348,Gloria,Marshall,gmarshall6w@bandcamp.com,(626)788-3519,Individual,2
249,349,Judith,Kelly,jkelly6x@abc.net.au,(510)477-7211,Individual,2
250,350,Jimmy,Johnston,jjohnston6y@lycos.com,(847)498-1986,Individual,2
251,351,Mark,Adams,madams6z@eepurl.com,(330)390-7984,Individual,2
252,352,Debra,Rice,drice70@jugem.jp,(941)187-2482,Individual,2
253,353,Helen,Stephens,hstephens71@ucoz.com,(202)918-1205,Individual,2
254,354,Kathy,Harris,kharris72@privacy.gov.au,(401)772-3797,Individual,2
255,355,Thomas,Carter,tcarter73@imdb.com,(915)404-8800,Individual,2
256,356,Frances,Fields,ffields74@edublogs.org,(410)601-3685,Individual,2
257,357,Jacqueline,Hawkins,jhawkins75@eventbrite.com,(602)640-6417,Individual,2
258,358,Janet,Morgan,jmorgan76@icq.com,(952)733-0296,Individual,2
259,359,Ruth,Garcia,rgarcia77@fc2.com,(215)987-0528,Individual,2
260,360,Carlos,Hicks,chicks78@upenn.edu,(330)596-3441,Individual,2
261,361,Juan,Wagner,jwagner79@ihg.com,(816)794-0480,Individual,2
262,362,Linda,Fields,lfields7a@cornell.edu,(804)662-9990,Individual,2
263,363,Lori,Wood,lwood7b@java.com,(615)919-7431,Individual,2
264,364,Stephen,Jacobs,sjacobs7c@dedecms.com,(803)274-2391,Individual,2
265,365,Randy,Williams,rwilliams7d@scientificamerican.com,(626)373-9914,Individual,2
266,366,Brandon,Black,bblack7e@com.com,(816)541-5044,Individual,2
267,367,Jonathan,Price,jprice7f@sohu.com,(225)386-6082,Individual,2
268,368,Brandon,Rose,brose7g@dailymotion.com,(520)692-8406,Individual,2
269,369,Daniel,Franklin,dfranklin7h@mapy.cz,(404)861-0120,Individual,2
270,370,Marie,Romero,mromero7i@fotki.com,(917)433-5318,Individual,1
271,371,Melissa,Wheeler,mwheeler7j@jimdo.com,(516)641-4662,Individual,1
272,372,Fred,Morris,fmorris7k@yandex.ru,(202)992-8383,Individual,1
273,373,Michael,Burke,mburke7l@spiegel.de,(765)699-6462,Individual,4
274,374,Sara,Phillips,sphillips7m@bloglovin.com,(804)171-1256,Business,3
275,375,Angela,Hernandez,ahernandez7n@furl.net,(860)450-9884,Individual,1
276,376,Patricia,Carroll,pcarroll7o@jiathis.com,(661)496-7816,Individual,2
277,377,Emily,Ryan,eryan7p@dmoz.org,(754)154-3364,Individual,2
278,378,Joan,Stone,jstone7q@furl.net,(202)785-1176,Individual,4
279,379,Joshua,Rivera,jrivera7r@sakura.ne.jp,(202)351-0177,Individual,3
280,380,Amanda,Bowman,abowman7s@barnesandnoble.com,(816)919-3527,Individual,1
281,381,Stephen,Gray,sgray7t@kickstarter.com,(919)992-0939,Individual,1
282,382,Sean,Rodriguez,srodriguez7u@oakley.com,(813)971-9753,Individual,1
283,383,Sandra,Patterson,spatterson7v@unc.edu,(850)181-9843,Business,1
284,384,Rose,Nichols,rnichols7w@princeton.edu,(516)516-9453,Business,1
285,385,Stephanie,Wallace,swallace7x@ow.ly,(305)712-5316,Individual,1
286,386,Anthony,Carter,acarter7y@newyorker.com,(480)342-8896,Individual,1

In [5]:
df.query("`Member Type` == 3")

,ID,First Name,Last Name,Email,Phone,Customer Type,Member Type
22,122,Jean,Palmer,jpalmerm@delicious.com,(402)166-3811,Individual,3
23,123,Shawn,Peters,spetersn@auda.org.au,(754)644-1728,Business,3
24,124,Pamela,Welch,pwelcho@wordpress.com,(303)685-7506,Business,3
25,125,Kathy,Alexander,kalexanderp@ebay.co.uk,(713)885-7289,Individual,3
26,126,James,Howard,jhowardq@dedecms.com,(814)712-1655,Individual,3
...,...,...,...,...,...,...,...
235,335,Wayne,Shaw,wshaw6j@cbsnews.com,(850)377-5441,Individual,3
236,336,Aaron,Robertson,arobertson6k@wunderground.com,(218)477-5056,Business,3
237,337,Harry,Watkins,hwatkins6l@oracle.com,(217)811-0247,Business,3
274,374,Sara,Phillips,sphillips7m@bloglovin.com,(804)171-1256,Business,3
279,379,Joshua,Rivera,jrivera7r@sakura.ne.jp,(202)351-0177,Individual,3

In [6]:
df.query('`Member Type` == 3 and `Customer Type` == "Business"')

,ID,First Name,Last Name,Email,Phone,Customer Type,Member Type
23,123,Shawn,Peters,spetersn@auda.org.au,(754)644-1728,Business,3
24,124,Pamela,Welch,pwelcho@wordpress.com,(303)685-7506,Business,3
42,142,Patrick,Young,pyoung16@blogs.com,(334)677-3271,Business,3
43,143,Wayne,Bradley,wbradley17@answers.com,(843)376-4157,Business,3
47,147,Michael,Marshall,mmarshall1b@buzzfeed.com,(316)177-7839,Business,3
115,215,Juan,Price,jprice37@barnesandnoble.com,(202)808-7431,Business,3
116,216,Michelle,Clark,mclark38@tinyurl.com,(203)601-7270,Business,3
125,225,Jonathan,Gonzales,jgonzales3h@google.com,(202)641-2038,Business,3
126,226,Eugene,Jones,ejones3i@independent.co.uk,(330)209-9549,Business,3
131,231,Ronald,Larson,rlarson3n@pagesperso-orange.fr,(850)925-2402,Business,3
132,232,Louis,Cunningham,lcunningham3o@bravesites.com,(309)839-6739,Business,3
133,233,Kathryn,Perez,kperez3p@angelfire.com,(806)987-0504,Business,3
179,279,Ernest,Thompson,ethompson4z@apple.com,(917)470-7912,Business,3
185,285,Rebecca,Wright,rwright55@shutterfly.com,(517)253-0435,Business,3
224,324,Frank,Bell,fbell68@sbwire.com,(501)787-6038,Business,3
232,332,Jennifer,Davis,jdavis6g@elpais.com,(210)288-0844,Business,3
236,336,Aaron,Robertson,arobertson6k@wunderground.com,(218)477-5056,Business,3
237,337,Harry,Watkins,hwatkins6l@oracle.com,(217)811-0247,Business,3
274,374,Sara,Phillips,sphillips7m@bloglovin.com,(804)171-1256,Business,3

In [8]:
df.query('`Member Type` == 2 or `Member Type` == 4')

,ID,First Name,Last Name,Email,Phone,Customer Type,Member Type
17,117,Gloria,Armstrong,garmstrongh@unicef.org,(863)646-4449,Individual,2
18,118,Beverly,Meyer,bmeyeri@cyberchimps.com,(208)900-5215,Individual,2
19,119,Janice,Mitchell,jmitchellj@lycos.com,(360)759-7569,Individual,2
20,120,Ronald,Murphy,rmurphyk@yandex.ru,(303)447-5945,Individual,2
21,121,Ruby,Lawson,rlawsonl@ted.com,(361)927-9275,Individual,2
...,...,...,...,...,...,...,...
269,369,Daniel,Franklin,dfranklin7h@mapy.cz,(404)861-0120,Individual,2
273,373,Michael,Burke,mburke7l@spiegel.de,(765)699-6462,Individual,4
276,376,Patricia,Carroll,pcarroll7o@jiathis.com,(661)496-7816,Individual,2
277,377,Emily,Ryan,eryan7p@dmoz.org,(754)154-3364,Individual,2
278,378,Joan,Stone,jstone7q@furl.net,(202)785-1176,Individual,4

In [9]:
df.query('`First Name` in ("Emily","Daniel","Janice")')

,ID,First Name,Last Name,Email,Phone,Customer Type,Member Type
19,119,Janice,Mitchell,jmitchellj@lycos.com,(360)759-7569,Individual,2
49,149,Emily,Watkins,ewatkins1d@bandcamp.com,(573)848-0093,Individual,3
158,258,Daniel,Hicks,dhicks4e@kickstarter.com,(402)869-0401,Individual,1
173,273,Emily,Patterson,epatterson4t@dailymotion.com,(254)842-1714,Individual,1
240,340,Daniel,Chapman,dchapman6o@163.com,(424)275-3503,Individual,2
269,369,Daniel,Franklin,dfranklin7h@mapy.cz,(404)861-0120,Individual,2
277,377,Emily,Ryan,eryan7p@dmoz.org,(754)154-3364,Individual,2