In [8]:
import pandas as pd

In [22]:
df1 = pd.DataFrame({
    "社員NO":[101,102,103,201,302,402],
    "名前":["相川","井伊","上野","江藤","大野","柿沢"],
    "年齢":[23,24,35,36,37,39],
    "所属":["営業課","開発課","総務課","営業課","開発課","営業課"],
}).set_index("社員NO")

In [23]:
df2 = pd.DataFrame({
    "社員NO":[101,102,103,201,302,402],
    "役職":["","","","チーフ","係長","課長"],
}).set_index("社員NO")

In [24]:
df3 = pd.DataFrame({
   "社員NO":[101,102,103,201,302,402],
    "勤務地":["東京","大阪","名古屋","東京","東京","大阪"],
}).set_index("社員NO")

In [25]:
df4 = df1.join([df2,df3])

In [26]:
df4

      名前  年齢   所属   役職  勤務地
社員NO
101   相川  23  営業課        東京
102   井伊  24  開発課        大阪
103   上野  35  総務課       名古屋
201   江藤  36  営業課  チーフ   東京
302   大野  37  開発課   係長   東京
402   柿沢  39  営業課   課長   大阪

In [15]:
df4.to_csv("../data/社員名簿.csv")

In [16]:
df4.to_excel("../data/社員名簿.xlsx")

In [27]:
df4.to_pickle("../data/社員名簿.pickle")

In [28]:
df = pd.read_pickle("../data/社員名簿.pickle")

In [29]:
df

      名前  年齢   所属   役職  勤務地
社員NO
101   相川  23  営業課        東京
102   井伊  24  開発課        大阪
103   上野  35  総務課       名古屋
201   江藤  36  営業課  チーフ   東京
302   大野  37  開発課   係長   東京
402   柿沢  39  営業課   課長   大阪